.footer {
  width: 100%;
  height: 250px;
  background: var(--dark-font);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.footer nav ul {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: 30px;
}
.footer nav ul a {
  padding: 0.4em 0;
  font-size: 2.2rem;
  font-weight: 500;
}
.active {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}
.socialWrapper {
  display: flex;
  gap: 20px;
  color: white;
}

@media (min-width: 365) {
  .footer {
    gap: 30px;
  }
}

@media (min-width: 900) {
  .footer nav ul {
    gap: 40px;
  }
}
