/** desktop */
.headerNav {
  height: 100px;
  background-color: var(--background);
  justify-items: center;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  display: none;
}
.headerNav a {
  color: var(--dark-font);
}
.headerNav nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerNav :last-child {
  margin-left: auto;
}
.headerLogo {
}
.navLinks,
.socialWrapper {
  display: flex;
  gap: 20px;
}
.headerNav a {
  display: flex;
  padding: 0.4em 0;
  font-size: 1.8rem;
}
.active {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}

@media (min-width: 900px) {
  .headerNav {
    display: flex;
  }
}

/** mobile */
.headerNavMobile {
  height: 100px;
  background-color: var(--background);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: sticky;
  top: 0;
  color: var(--dark-font);
}
.headerNav nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobileNavWrapper {
  position: absolute;
  right: 40px;
  top: 45px;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  height: 15px;
  align-items: center;
  z-index: 3;
}
.hamburger {
  position: relative;
  width: 35px;
  height: 35px;
  font-size: inherit;
  cursor: pointer;
}
.hamburger div {
  height: 15px;
  position: relative;
  transition: all 0.3s ease;
}
.mobileNavWrapper.isOpen .hamburgerLine:nth-child(1) {
  transform: translateY(calc(11px / 2)) rotateZ(135deg);
  background: white;
}
.mobileNavWrapper.isOpen .hamburgerLine:nth-child(2) {
  transform: translateY(calc(-11px / 2)) rotateZ(-135deg);
  background: white;
}
.hamburgerLine {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  border-radius: 0.125em;
  background: currentColor;
  transition: inherit;
}

.hamburgerLine:nth-child(1) {
  top: 2px;
}
.hamburgerLine:nth-child(2) {
  top: 14px;
}

.mobile .navLinks,
.socialWrapper {
  display: flex;
  gap: 20px;
}
.mobileNav .navLinks {
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  color: white;
}
.socialWrapperMobile {
  position: absolute;
  bottom: 30px;
  color: white;
  display: none;
}
.mobileNav .navLinks a {
  color: white;
}
.headerNav a {
  display: flex;
  padding: 0.4em 0;
  font-size: 1.8rem;
}
.mobileNav .navLinks .active {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}
.navModal {
  visibility: hidden;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  align-items: center;
  justify-content: center;
  background: #000;
  transition: all 0.2s;
}
.navModal nav {
  display: none;
}
.navModal.modalOpen {
  display: flex;
  align-items: center;
  opacity: 0.99;
  visibility: visible;
}
.navModal.modalOpen nav {
  display: flex;
}
.navModal.modalOpen .socialWrapperMobile {
  display: flex;
}

@media (min-width: 900px) {
  .mobileNav {
    display: none;
  }
}
