.hero {
  height: 590px;
  background: var(--dark-font);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
  min-width: 0;
}

.textOnPath {
  font-size: 80px;
  font-weight: 300;
  fill: var(--background);
}

.hero svg {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  width: 100%;
}
.hero text {
  transform: scale(2);
}
.aboutMeWrapper {
  z-index: 1;
  display: flex;
  color: white;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
}
.aboutMeWrapper h1 {
  font-weight: bold;
}
.aboutMeWrapper:first-child {
  flex-basis: 45%;
}
.aboutMeWrapper:last-child {
  flex-basis: 55%;
}
.aboutMeWrapper div {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.aboutMeWrapper div p:last-of-type {
  font-weight: bold;
}
.aboutMeWrapper img {
  height: 230px;
  max-width: 300px;
  object-fit: cover;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 700px) {
  .hero {
    height: 500px;
    align-items: center;
    padding-bottom: unset;
  }
  .hero svg {
    top: 50px;
    transform: scale(1);
  }
  .hero text {
    transform: scale(1);
  }
  .textOnPath {
    font-size: 60px;
    font-weight: 300;
  }
  .aboutMeWrapper {
    line-height: 30px;
    flex-direction: row;
    gap: 50px;
    font-size: 2.7rem;
    word-wrap: balance;
  }
  .aboutMeWrapper img {
    max-width: 531px;
    height: 304px;
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .hero {
    height: 700px;
  }
  .aboutMeWrapper div {
    max-width: 500px;
  }
  .aboutMeWrapper img {
    max-width: 400px;
    height: 404px;
    width: 100%;
  }
}
