name: publish-to-github-pages
'on':
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: pages
  cancel-in-progress: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout \U0001F6CE️"
        uses: actions/checkout@v4
      - name: "Setup Node.js ⚙️ - Cache dependencies ⚡ - Install dependencies \U0001F527"
        uses: ./.github/workflows/setup-node
      - name: Setup Pages ⚙️
        uses: actions/configure-pages@v4
        with:
          static_site_generator: next
      - name: "Build with Next.js \U0001F3D7️"
        run: npx next build
      - uses: actions/upload-artifact@master
        with:
          name: page
          path: build
          if-no-files-found: error
  deploy:
    environment:
      name: github-pages
      url: '${{ steps.deployment.outputs.page_url }}'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@master
        with:
          name: page
          path: .
      - name: "Publish to GitHub Pages \U0001F680"
        id: deployment
        uses: actions/deploy-pages@v4
